@model ProjetFinal_2147037.Models.VM_UtilisateurMotDePasse

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pseudo" class="control-label"></label>
                <input asp-for="Pseudo" class="form-control" />
                <span asp-validation-for="Pseudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoTelephone" class="control-label"></label>
                <input asp-for="NoTelephone" class="form-control" />
                <span asp-validation-for="NoTelephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotDePasseHache" class="control-label"></label>
                <input asp-for="MotDePasseHache" class="form-control" />
                <span asp-validation-for="MotDePasseHache" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlateformeId" class="control-label"></label>
                <input asp-for="PlateformeId" class="form-control" />
                <span asp-validation-for="PlateformeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
